<div class="jumbotron text-center">
	<h1>Página Principal</h1>
	<p>{{ message }}</p>
	<p>Texto 1</p>
	<textarea rows="4" cols="50" placeholder="Ingrese texto n° 1" ng-model="vm.texto1">
	</textarea>
	
	<p>Texto 2</p>
	<textarea rows="4" cols="50" placeholder="Ingrese texto n° 2" ng-model="vm.texto2">
	</textarea>
	
	<div>
	<input type="button" ng-click="vm.CheckRepetidos(vm.texto1,vm.texto2)" value="click">
	<input type="button" ng-click="vm.EliminarRepetidos()" value="eliminar repetidos">
	<input type="button" value="esconder listados" ng-click="mostrar=true">
	<input type="button" value="get url" ng-click="vm.GetURL()">
</div>